.text {
    color: #ada9a9dc;
    font-size: 20px;
<<<<<<< HEAD
    padding-bottom: 15px
=======
>>>>>>> 7efaf0620017e63760595dfddc85e167fc663d3c
}

.number {
    color: #160855;
    font-weight: bold;
<<<<<<< HEAD
}
=======
}

>>>>>>> 7efaf0620017e63760595dfddc85e167fc663d3c
