version: '3.9'
services:
  block-explorer-ui:
    image: registry.gitlab.syncad.com/hive/block_explorer_ui:${IMAGE_TAG:-latest}
    environment:
      PORT:
      REACT_APP_API_ADDRESS:
      REACT_APP_HIVE_BLOG_API_ADDRESS:
      REACT_APP_API_SUBTYPE:
    ports:
      - "${PORT}:${PORT}"