@tailwind base;
@tailwind components;
@tailwind utilities;


/* Light theme */
:root {
  --background-start-rgb: rgb(214, 219, 220);
  --background-end-rgb: rgb(255, 255, 255);
  --color-text: #000;
  --color-background: #FFF;
  --color-row-even: #dadfeb;
  --color-row-odd: #c3d0eb;
  --color-row-hover: #e5eaf3;
  --color-button: #e0e2e8;
  --color-button-text: #000;
  --color-button-hover: #cfd3dd;
  --color-switch-button: rgb(200, 200, 200);
  --color-switch-off: rgb(100, 100, 100);
  --color-switch-on: rgb(20, 20, 20);
  --color-blocked: rgba(255, 255, 255, 0.7);
  --color-operation-account-management: #b010bf;
  --color-operation-witness-management: #008080;
  --color-operation-witness-voting: #008050;
  --color-operation-posting: #ffbe0b;
  --color-operation-curation: #fb5607;
  --color-operation-transfer: #8338ec;
  --color-operation-market: #FF69B4;
  --color-operation-vesting: #780028;
  --color-operation-proposal: #78c814;
  --color-operation-custom: #80003e;
  --color-operation-other: #3a86ff;
  --color-link: #1e4f9c;
  --color-operation-perspective-incoming: #ecf2ff;

  --color-yellow: #d2c518;
  --color-light-blue: #2ba7b0;
  --color-dark-blue: #160855;
  --color-blue: #0041F3;
  --color-turquoise: #00D9FF;
  --color-red: #991b1b;
  --color-orange: #FFAC33;
  --color-light-green: #15a017;
  --color-light-gray: #ADA9A9DC;
  --color-dark-gray: #292F3D;

  --scroll-icon-bg: linear-gradient(135deg, #f0f0f0, #e0e0e0);
  --scroll-icon-color: #000;
  --scroll-icon-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Dark theme */
.dark {
  --background-start-rgb: rgb(40, 40, 40);
  --background-end-rgb: rgb(60, 60, 60);
  --color-text: #FFF;
  --color-background: #292F3D;
  --color-row-even: #48526b;
  --color-row-odd: #333b4c;
  --color-row-hover: #5c6a89;
  --color-button: #5c6a89;
  --color-button-text: #FFF;
  --color-button-hover: #48526b;
  --color-switch-button: rgb(200, 200, 200);
  --color-switch-off: rgb(100, 100, 100);
  --color-switch-on: rgb(20, 20, 20);
  --color-blocked: rgba(255, 255, 255, 0.7);
  --color-operation-account-management: #b010bf;
  --color-operation-witness-management: #008080;
  --color-operation-witness-voting: #008050;
  --color-operation-posting: #ffbe0b;
  --color-operation-curation: #fb5607;
  --color-operation-transfer: #8338ec;
  --color-operation-market: #FF69B4;
  --color-operation-vesting: #780028;
  --color-operation-proposal: #78c814;
  --color-operation-custom: #80003e;
  --color-operation-other: #3a86ff;
  --color-link: #00D9FF;
  --color-operation-perspective-incoming: #48526b;

  --color-yellow: #FFF351;
  --color-light-blue: #6AF5FF;
  --color-dark-blue: #160855;
  --color-blue: #0041F3;
  --color-turquoise: #00D9FF;
  --color-red: #FF0000;
  --color-orange: #FFAC33;
  --color-light-green: #64FFAA;
  --color-light-gray: #ADA9A9DC;
  --color-dark-gray: #444c5e;

  --scroll-icon-bg: linear-gradient(135deg, #444, #555);
  --scroll-icon-color: #ffffff;
  --scroll-icon-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  --scroll-icon-hover-bg: linear-gradient(135deg, #555, #666);
}

* {
  color: var(--color-text);
}

body {
  background-color: var(--background-start-rgb)
}


pre {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

.rdp-dropdown{
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important; 
}
.rdp-dropdown option {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important; 
}

/* Styles for the scroll icons */
.scroll-icon-left,
.scroll-icon-right {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  opacity: 0.7;
  z-index: 10;
  cursor: pointer;
  
}

.scroll-icon-left {
  left: 5%;
}

.scroll-icon-right {
  right: 5%;
}

.scroll-icon-left:hover,
.scroll-icon-right:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .scroll-icon-left,
  .scroll-icon-right {
    display: block; 
  }
}

@media (min-width: 769px) {
  .scroll-icon-left,
  .scroll-icon-right {
    display: none;
  }
}
