@tailwind base;
@tailwind components;
@tailwind utilities;


/* Light theme */
:root {
  --background-start-rgb: rgb(214, 219, 220);
  --background-end-rgb: rgb(255, 255, 255);
  --color-text: #000;
  --color-background: #FFF;
  --color-row-even: #dadfeb;
  --color-row-odd: #c3d0eb;
  --color-row-hover: #e5eaf3;
  --color-button: #e0e2e8;
  --color-button-text: #000;
  --color-button-hover: #cfd3dd;
  --color-switch-button: rgb(200, 200, 200);
  --color-switch-off: rgb(100, 100, 100);
  --color-switch-on: rgb(20, 20, 20);
  --color-blocked: rgba(255, 255, 255, 0.7);
  --color-operation-account-management: #b010bf;
  --color-operation-witness-management: #008080;
  --color-operation-witness-voting: #008050;
  --color-operation-posting: #ffbe0b;
  --color-operation-curation: #fb5607;
  --color-operation-transfer: #8338ec;
  --color-operation-market: #FF69B4;
  --color-operation-vesting: #780028;
  --color-operation-proposal: #78c814;
  --color-operation-custom: #80003e;
  --color-operation-other: #3a86ff;
  --color-link: #1e4f9c;
  --color-operation-perspective-incoming: #ecf2ff;

  --color-yellow: #d2c518;
  --color-light-blue: #2ba7b0;
  --color-dark-blue: #160855;
  --color-blue: #0041F3;
  --color-turquoise: #00D9FF;
  --color-red: #991b1b;
  --color-orange: #FFAC33;
  --color-light-green: #15a017;
  --color-light-gray: #ADA9A9DC;
  --color-dark-gray: #292F3D;
  --color-extra-light-gray : #F9FAFB;

  --error-bg-light: linear-gradient(135deg, rgba(247, 255, 255, 0.8), rgba(248, 247, 247, 0.8));
  --error-bg: var(--error-bg-light);

  --color-navbar-icon: #d9e0e8;
  --color-navbar-icon-hover:#cbd5e1;
  --color-navbar-icon-border: #6b7280;
  --color-navbar-icon-list-hover : #eff2f4;


}

/* Dark theme */
.dark {
  --background-start-rgb: rgb(40, 40, 40);
  --background-end-rgb: rgb(60, 60, 60);
  --color-text: #FFF;
  --color-background: #292F3D;
  --color-row-even: #48526b;
  --color-row-odd: #333b4c;
  --color-row-hover: #5c6a89;
  --color-button: #5c6a89;
  --color-button-text: #FFF;
  --color-button-hover: #48526b;
  --color-switch-button: rgb(200, 200, 200);
  --color-switch-off: rgb(100, 100, 100);
  --color-switch-on: rgb(20, 20, 20);
  --color-blocked: rgba(255, 255, 255, 0.7);
  --color-operation-account-management: #b010bf;
  --color-operation-witness-management: #008080;
  --color-operation-witness-voting: #008050;
  --color-operation-posting: #ffbe0b;
  --color-operation-curation: #fb5607;
  --color-operation-transfer: #8338ec;
  --color-operation-market: #FF69B4;
  --color-operation-vesting: #780028;
  --color-operation-proposal: #78c814;
  --color-operation-custom: #80003e;
  --color-operation-other: #3a86ff;
  --color-link: #00D9FF;
  --color-operation-perspective-incoming: #48526b;

  --color-yellow: #FFF351;
  --color-light-blue: #6AF5FF;
  --color-dark-blue: #160855;
  --color-blue: #0041F3;
  --color-turquoise: #00D9FF;
  --color-red: #FF0000;
  --color-orange: #FFAC33;
  --color-light-green: #64FFAA;
  --color-light-gray: #ADA9A9DC;
  --color-dark-gray: #444c5e;
  --color-extra-light-gray : #34373ed4;

  --error-bg-dark: linear-gradient(135deg, rgba(159, 149, 149, 0.8), rgba(104, 100, 100, 0.8));
  --error-bg: var(--error-bg-dark);

  --color-navbar-icon:#292F3D;
  --color-navbar-icon-hover: #34373ed4;
  --color-navbar-icon-border: #6b7280;
  --color-navbar-icon-list-hover : #374151;

}

* {
  color: var(--color-text);
}

body {
  background-color: var(--background-start-rgb)
}


pre {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

.rdp-dropdown{
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important; 
}
.rdp-dropdown option {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important; 
}
/*AutoCompleteInput Styles*/
.scrollbar-autocomplete {
  max-height: 18rem; 
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-bg) var(--scrollbar-thumb);
}

.scrollbar-autocomplete::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-autocomplete::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

.scrollbar-autocomplete::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 10px;
  border: 3px solid var(--scrollbar-bg);
}

.overflow-hidden {
  overflow: hidden;
}

.autocomplete_input {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  transition: border-bottom-color 0.3s ease, background-color 0.3s ease;
  outline: none;
}

.autocomplete_input:focus {
  border-bottom-color: var(--color-navbar-icon-border);
  background-color: var(--color-extra-light-gray);
}

.autocomplete_input::placeholder {
  opacity: 1; /* Ensures placeholder is fully opaque */
  transition: color 0.3s ease;
}


.autocomplete-result-container {
  display: flex;
  flex-direction: column;
  background-color: var(--theme-bg);
  box-shadow: var(--theme-shadow);
  border-radius: 0.5rem;
  margin-top: 0.25rem;
  max-height: 24rem;
  overflow-y: auto;

  
}

.autocomplete-result-item {
  padding: 6px 12px; 
  margin: 4px 8px;
  border-radius: 4px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 6px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 14px;
}

.autocomplete-result-item:hover {
  background-color: var(--color-navbar-icon-list-hover);
  transform: translateY(-1px);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}


.autocomplete-result-link {
  color: var(--color-link);
  text-decoration: none;
}

.autocomplete-result-label {
  color: var(--explorer-dark-gray);
}

.autocomplete-result-highlight {
  color: var(--explorer-turquoise);
}
/*End AutoCompleteInput Styles*/

/*Error Component Styling*/
.error-message {
  background: var(--error-bg);
  color: var(--error-text);
  padding: 8px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(112, 109, 109, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  margin-top: 10px;
  margin-left: 2px;
  position: relative;
  max-width: 250px;
}

/* Close button styling */
.error-message .close-btn {
  background: none;
  border: none;
  font-size: medium;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.error-message .close-btn:hover {
  transform: rotate(90deg);
}

.error-message.hide {
  opacity: 0;
  transform: translateY(-20px);
}
/*Error Component Styling*/

/* Sync Dialog Styles */
.dialog-content {
  background: linear-gradient(to right, var(--background-start-rgb), var(--background-end-rgb));
  color: var(--color-text);
  backdrop-filter: blur(10px);
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px var(--color-background);
  transition: all 0.5s ease;
  
}
.dialog-header {
  border-bottom: 1px solid var(--color-row-odd);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.dialog-title {
  font-size: 1.25rem;
  font-weight: 500;
}

.dialog-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dialog-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-row-odd);
  padding: 0.5rem 0;
  transition: background-color 0.3s ease;
}
.dialog-item:hover {
  background-color: var(--color-row-hover);
}

.dialog-item-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}

.dialog-item-value {
  font-weight: 400;
  font-size: 1rem;
}

/*End Sync Dialog Styles*/

/* Data Box Styling */
.data-box {
  background-color: var(--color-extra-light-gray);
  border-radius: 12px;
  padding: 10px;
  margin: 6px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: var(--color-text);
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid var(--color-light-gray); /* Fine border */
  transition: all 0.3s ease-in-out;
  flex-direction: column; /* Stack elements vertically */
}

.data-box:hover {
  background-color: var(--color-row-hover);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15); /* Elevated shadow */
  transform: translateY(-3px); /* Slight lift on hover */
}

.data-box span {
  font-weight: bold;
  font-size: 14px;
}
.operations-button {
  border: 1px solid var(--color-light-gray);
  background-color: inherit;
  font-size: small;
}

/*Page Container*/
.page-container {
  width: 98%; /* Default for larger screens */
}

/* Media query for small screens*/
@media (max-width: 768px) { 
  .page-container {
    width: 99%;
  }
}